.messageBox {
	width:150px;
	padding:30px;
	border:4px solid #666;
	text-align: center;
	background: #ffa;
	position:fixed;
	right:45%;
	top: 45%;
	z-index:999;
	-webkit-border-radius: 6px; -moz-border-radius: 6px;
}

#artform-image-preview {
	width: 100px;
	height: 100px
}

#artform-image-preview img {
	width: 95px;
	height: 95px
}