<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />

		<title>Details</title>


		<style>
			.art-thumb {
			padding-right: 15px;
			}
		</style>
	</head>
	<body ng-app="BlankApp" ng-controller="artworkFormController" layout="column"> 
		
			
			<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
				<md-nav-item md-nav-click="goto('page1')" name="page1">Artworks</md-nav-item>
				<md-nav-item md-nav-click="goto('page2')" name="page">Consignments</md-nav-item>
				<md-nav-item md-nav-click="goto('page3')" name="page3">Sales</md-nav-item>
			</md-nav-bar>

			<md-toolbar layout="row">
				<md-button aria-label="Go Back">Back</md-button>
				<span flex></span>
				<md-button ng-disabled="true">Cancel</md-button>
				<md-button class="md-raised" ng-disabled="true">Save</md-button>
			</md-toolbar>
			<form layout="column">
				<md-content flex layout-padding>

					<div layout="column" layout-gt-md="row" layout-align="center center" flex >
						<md-card flex>
							<img src="/static/images/{{img_hash}}.jpg"/>
						</md-card>
						<div flex>
							<input class="ng-hide" id="image_upload_id" type="file" />
							<label for="image_upload_id" class="md-button"ng-click="upload_image_file()">Upload new image</label>
						</div>
					</div>

					<div layout="column" flex>
						<md-input-container flex layout-padding>
							<label>Title</label>
							<input type="text" ng-model="title"/>
						</md-input-container>

						<div layout="column" layout-gt-xs="row" layout-padding>
							<md-input-container flex>
								<label>Medium</label>
								<input type="text" ng-model="medium"/>
							</md-input-container>

							<md-input-container flex>
								<label>Dimensions(LxWxH)</label>
								<input type="text" ng-model="dimensions"/>
							</md-input-container>    
						</div>

						<div layout-xs="column" layout-gt-xs="row" layout-padding>
							<md-input-container flex>
								<label>List Price</label>
								<input type="text" value="100.00" />
							</md-input-container>

							<md-input-container flex>
								<label>Date Created</label>
								<md-datepicker ng-model="date_created" />
							</md-input-container>
						</div>

						<div layout-xs="column" layout-gt-xs="row" layout-padding>
							<md-input-container flex>
								<label>Status</label>
								<input type="text" value="Available"/>
							</md-input-container>
							<md-input-container flex>
								<label>Location</label>
								<input type="text" value="Home"/>
							</md-input-container>   		
						</div>

					</div>
				
					<div layout="column" layout-gt-xs="row" layout-padding>
						<md-input-container flex>
							<label>Buyer</label>
							<input type="text" />
						</md-input-container>

						<md-input-container flex>
							<label>Sale Price</label>
							<input type="text" />
						</md-input-container>

						<md-input-container flex>
							<label>Sale Date</label>
							<md-datepicker ng-model="app.creation_date"/>
						</md-input-container>      
					</div>

					<div layout = "column" layout-padding>  
						<md-input-container flex>
							<label>Notes</label>
							<textarea rows="5">{{notes}}</textarea>
						</md-input-container>
					</div>

				</md-content>



		</form>

		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

		<!-- Your application bootstrap  -->
		<script>

        
	 // init the app
    angular.module('BlankApp', ['ngMaterial', 'BlankApp.services', 'BlankApp.controllers']);
	
	
	// init any services
	
	angular.module('BlankApp.services', [])
		.factory('artworkService', function($http) {
			var artworkAPI = {};
			
			artworkAPI.get_all = function() {
				return $http({
					method: 'GET',
					url: '/api/artwork'
				});
			}
			
			artworkAPI.get_by_id = function(ident) {
				return $http({
					method: 'GET',
					url: '/api/artwork/'+ident
				});
			}
            
            artworkAPI.set = function(ident, values) {
                return $http({
                    method: 'PUT',
                    url: '/api/artwork/'+ident,
                    data: values
                });
			}
            
			return artworkAPI;
		});

		
	
	//init any  controllers
	
	angular.module('BlankApp.controllers', [])
		.controller('artworkFormController', function($scope,  artworkService) {
		
			$scope.name_filter = null;
			$scope.artwork_list = [];
			
			artworkService.get_all().success(function(response) {
				$scope.artwork_list = response;
				$scope.show_detail(response[0]);
				
			});
			
            
			$scope.show_detail = function(item) {
				var id = item[0];
				artworkService.get_by_id(id).success(function(response) {
                    console.log(response);
					$scope.title = response.title;
					$scope.date_created = new Date(response.date_created);
                    $scope.medium = response.medium;
					$scope.img_hash = response.image_hash;
                    $scope.dimensions = response.dimensions;
					$scope.status = response.status;
                    $scope.notes = response.notes;
				});
			};
		
			
		});

		</script>

	</body>
</html>