<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  
  <title>Edit Details</title>
</head>

  <style>
    .art-thumb {
        padding-right: 15px;
    }
  </style>

<body ng-app="BlankApp" ng-controller="artworkFormController" layout="column"> 

 <!--
    Your HTML content here
  -->  
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="page1">
        Artworks
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="page2">
        Consignments
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page3">
        Sales
        </md-nav-item>
    </md-nav-bar>

    <div layout="row" flex>
        <md-button flex >Cancel</md-button>
        <md-button flex >Save</md-button>
    </div>
    
    <div layout="row" flex>
    
    <md-content layout-padding>
        <form layout="column">
        
        <div>
            <img src="/static/images/{{img_hash}}.jpg" />
        </div>
        
        <md-input-container>
           <label>Title</label>
            <input type="text" ng-model="title"/>
        </md-input-container>
        
        <div layout="row">
        <md-input-container>
               <label>Medium</label>
               <input type="text" ng-model="medium"/>
            </md-input-container>
            
            <md-input-container>
               <label>Dimensions</label>
               <input type="text" ng-model="dimensions"/>
            </md-input-container>
            
            <md-input-container>
                <label>Date Created</label>
                <md-datepicker ng-model="date_created"></md-datepicker>
            </md-input-container>
        </div>
        
        <div layout="row">
            <md-input-container>
               <label>Status</label>
               <input type="text" ng-model="status"/>
            </md-input-container>
            
             <md-input-container>
               <label>List Price</label>
               <input type="text" />
            </md-input-container>
            
            <md-input-container>
               <label>Location</label>
               <input type="text" />
            </md-input-container>   
        </div>
        
         <md-input-container>
            <label>Notes</label>
            <textarea rows="5" ng-model="notes"></textarea>
         </md-input-container>
        
    
        </form>
    </md-content>
    
   
    
 </div>


 <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  
  
  <!-- Your application bootstrap  -->
<script>

    /**
     * You must include the dependency on 'ngMaterial' 
     */
     

	 // init the app
    angular.module('BlankApp', ['ngMaterial', 'BlankApp.services', 'BlankApp.controllers']);
	
	
	// init any services
	
	angular.module('BlankApp.services', [])
		.factory('artworkService', function($http) {
			var artworkAPI = {};
			
			artworkAPI.get_all = function() {
				return $http({
					method: 'GET',
					url: '/api/artwork'
				});
			}
			
			artworkAPI.get_by_id = function(ident) {
				return $http({
					method: 'GET',
					url: '/api/artwork/'+ident
				});
			}
            
            artworkAPI.set = function(ident, values) {
                return $http({
                    method: 'PUT',
                    url: '/api/artwork/'+ident,
                    data: values
                });
			}
            
			return artworkAPI;
		});

		
	
	//init any  controllers
	
	angular.module('BlankApp.controllers', [])
		.controller('artworkFormController', function($scope,  artworkService) {
		
			$scope.name_filter = null;
			$scope.artwork_list = [];
			
			artworkService.get_all().success(function(response) {
				$scope.artwork_list = response;
				$scope.show_detail(response[0]);
				
			});
			
            
			$scope.show_detail = function(item) {
				var id = item[0];
				artworkService.get_by_id(id).success(function(response) {
                    console.log(response);
					$scope.title = response.title;
					$scope.date = response.date_created;
                    $scope.medium = response.medium;
					$scope.img_hash = response.image_hash;
                    $scope.dimensions = response.dimensions;
					$scope.status = response.status;
                    $scope.notes = response.notes;
					
				});
			};
		
			
		});

    
</script>

</body>
</html>

