<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		<link rel="stylesheet" href="/static/style.css" />
		
		<title>Master/Detail</title>
	
	</head>



	<body ng-app="BlankApp" ng-controller="artworkListController" layout="column"> 

		<!--
    Your HTML content here
  -->  
  
	

		<md-toolbar>
			<div class="md-toolbar-tools" layout-margin>
				<md-icon aria-label="Menu" class="material-icons">menu</md-icon>
				<h2 md-truncate flex>Artworks</h3>
			</div>
		</md-toolbar>
		
		<div id=main-content" flex layout="row">
			<md-content flex="33">
				

				<md-list-item class="md-3-line" ng-repeat="item in artwork_list" ng-click="show_detail(item)" layout-margin layout-padding>
					
					<img ng-src="\static\thumbs\{{item[3]}}_tb.jpg" class="art-thumb" style="size: 50%; padding-right:10px;" >
					<div class="md-list-item-text" layout="column" flex="75" layout-margin>
						<h3>{{item[1]}}</h3>
						<p>{{item[2]}}</p>
					</div>    
				</md-list-item>
			
			</md-content>
			
			<md-content flex="66">
				<div flex layout="row" layout-align="center">
					<md-button>Sell</md-button>
					<md-button>Consign</md-button>
					<md-button>Relocate</md-button>
					<md-button>Edit</md-button>
				</div>
				
				<md-card  flex layout-align="center center" >
					<img flex="50" ng-src="\static\images\{{curr_img_hash}}.jpg" />
				</md-card>
				
				<div layout-gt-sm="row" layout="column" flex layout-padding>
					<div flex layout-wrap layout="row">
						<div flex="33">Title</div>
						<div flex="66">{{curr_title}}</div>
						<div flex="33">Date</div>
						<div flex="66">{{curr_date}}</div>
						<div flex="33">Medium</div>
						<div flex="66">Oil on Canvas</div>
						<div flex="33">Dimensions</div>
						<div flex="66">{{curr_dimensions}}</div>						
					</div>
					<div flex layout-wrap layout="row">
						<div flex="33">Status</div>
						<div flex="66">{{curr_status}}</div>
						<div flex="33">Location</div>
						<div flex="66">Home</div>
						<div flex="33">Client</div>
						<div flex="66">None</div>
						<div flex="33">Consign/Sell Date</div>
						<div flex="66">None</div>
					</div>
				</div>
			
				<div  flex layout="column" layout-padding>
					<div flex>Notes</div>
					<div flex>{{curr_notes}}</div>
				</div>
				
			</md-content>
				
		</div>

	
	
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


		<!-- Your application bootstrap  -->
		<script>

    /**
     * You must include the dependency on 'ngMaterial' 
     */
	 
	 // init the app
    angular.module('BlankApp', ['ngMaterial', 'BlankApp.services', 'BlankApp.controllers']);
	
	
	// init any services
	
	angular.module('BlankApp.services', [])
		.factory('artworkService', function($http) {
			var artworkAPI = {};
			
			artworkAPI.get_all = function() {
				return $http({
					method: 'GET',
					url: '/api/artwork'
				});
			}
			
			artworkAPI.get_by_id = function(ident) {
				return $http({
					method: 'GET',
					url: '/api/artwork/'+ident
				});
			}
			
			return artworkAPI;
		});

		
	
	//init any  controllers
	
	angular.module('BlankApp.controllers', [])
		.controller('artworkListController', function($scope,  artworkService) {
		
			$scope.name_filter = null;
			$scope.artwork_list = [];
			
			artworkService.get_all().success(function(response) {
				$scope.artwork_list = response;
				$scope.show_detail(response[0]);
				
			});
			
			$scope.show_detail = function(item) {
				var id = item[0];
				artworkService.get_by_id(id).success(function(response) {
					$scope.curr_title = response.title;
					$scope.curr_date = response.date_created;
					$scope.curr_img_hash = response.image_hash;
					$scope.curr_status = response.status;
                    $scope.curr_dimensions = response.dimensions;
                    $scope.curr_notes = response.notes;
				});
			};
		
			
		});
	
	
	
	
	
	
		</script>

	</body>

</html>

